.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
body{
  background: #F6F7F8 0% 0% no-repeat padding-box;
  font-size:14px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.side_bar {
  position: fixed;
  background-color: brown;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  z-index: 99;
  transition : all 2s ease;
  transform : translate(-100%);
}
.show_side_bar {
  transform : translate(0);
}
.dynamicColorContainer{

}
.colorPromptBox{
  position: absolute;
  top:50%;
  left:20%;
  width:40%;
  margin: auto auto;
  background-color: #CCC;
  border:1px solid #000;
  padding: 20px;
}
.newDiv{
  height: 60px;
  width: 60px;
  margin: 10px;
}
.colorContainer{
  display: flex;
  flex-direction: row;
  margin:30px;
}
.searchResults{
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid #CCC;
  width: 160px;
  background-color: #FFF;
}
.searchResults:hover{
  background-color: #f3f3f3;
}

html, body{
  height: 100%;
}